<div class="container-fluid">

  <table class="table table-striped table-hover">

    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Command</th>
      <th>Output Should Contain</th>
      <th>Last Run Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tr ng-repeat="command in commands">
      <td>{{command.id}}</td>
      <td>{{ command.name }}</td>
      <td>{{ command.commandstring }}</td>
      <td>{{ command.containString }}</td>
      <td> {{command.lastRunDate }}</td>
      <td> <span class="glyphicon glyphicon-remove" ng-click="delete(command.id)"></td>
    </tr>
  </table>

</div>
<div class="container-fluid">
  <form class="form-inline" ng-hide="false" ng-submit="newcommand()">

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Command Name" ng-model="command.name"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Command" ng-model="command.commandstring"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Result should Contain" ng-model="command.containString"/>
    </div>
    <button type="submit" class="btn btn-default" >Create</button>
  </form>

  <p> {{ errormessage }}</p>
</div>