<div class="container-fluid">

    <table class="table table-striped table-hover">

        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Hostname</th>
            <th>Ipv4</th>
            <th>URI</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tr ng-repeat="host in hosts">
            <td>{{host.id}} </td>
            <td>{{ host.name }}</td>
            <td>{{ host.hostname }}</td>
            <td>{{ host.hostipaddress }}</td>
            <td>{{ host.hosturl }}</td>
            <td>{{ host.owner.username}}</td>

        </tr>
    </table>

</div>
<div class="container-fluid">
    <form class="form-inline" ng-hide="false" ng-submit="newhost()">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="hostname" ng-model="host.hostname"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="ipv4" ng-model="host.hostipaddress"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="host user" ng-model="host.hostuser"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="host password" ng-model="host.hostpassword"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="host endpoint" ng-model="host.hosturl"/>
        </div>

        <button type="submit" class="btn btn-default" >Create</button>
    </form>

    <p> {{ errormessage }}</p>
</div>