<div class="container-fluid">

    <label>Filter</label><input type="text" ng-model="filtertext">
    <button type="button" class="btn btn-primary">Today</button>
    <table class="table table-striped table-hover">

        <thead>
        <tr>
            <th>Hostname</th>
            <th>Command String</th>
            <th>Output should Contain</th>
            <th>Actual Output</th>
            <th>Success</th>
            <th>Run Date</th>
        </tr>
        </thead>
        <tr ng-repeat="record in records | filter: filtertext">
            <td>{{record.hostname}}</td>
            <td>{{ record.commandstring }}</td>
            <td>{{ record.expectedoutputcontains }}</td>
            <td>{{ record.commandoutput }}</td>
            <td>{{record.success}}</td>
            <td> {{record.runDate| date: 'medium' }}</td>

        </tr>
    </table>

</div>