<div class="container-fluid">

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Permanent User</th>
      <th>Tenant</th>
      <th>Roles</th>
      <th>Action</th>
    </tr>
    </thead>
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.canNotbeDeletedEver}}</td>
      <td>{{user.tenant.name}}</td>
      <td>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="role in user.roles">{{role.name}}</li>
        </ul>
      </td>
      <td> <span class="glyphicon glyphicon-remove" ng-click="delete(user.id)"></td>
    </tr>

  </table>



</div>

<div class="container-fluid">
  <form class="form-inline" ng-hide="false" ng-submit="newuser()">

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" ng-model="user.name"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password"/>
    </div>
    <div class="form-group">
      <label>Never Be Deleted</label>
      <input type="checkbox" class="form-control" placeholder="canNotbeDeletedEver" ng-model="user.canNotbeDeletedEver"/>
    </div>
    <div class="form-group">
      <label>Role</label>
      <select ng-model="selectedroleid">
        <option  ng-repeat="role in roles" value="{{role.id}}">{{role.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Tenant</label>
      <select ng-model="user.tenant.id">
        <option  ng-repeat="tenant in tenants" value="{{tenant.id}}">{{tenant.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default" >Create</button>
  </form>

  <p> {{ errormessage }}</p>
</div>